<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
	
</head>


<body>
	<section >
	
	<div id="about" class="container-fluid about d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-sm-8 ">
      <h2>About Company Page</h2><br>
      <h6>Suven Consultants & Technology Pvt Ltd. is a leader in Technology Training , Soft Skill Training and Recruitment solutions. As a proven partner focused on building tomorrow's enterprise, SCTPL enables clients in more than 13 domains to outperform the competition and stay ahead of the innovation curve.</h6><br>
      <p>In 2005, two enterprising people started Suven Consultants with Objective of providing Right manpower to leading organizations . 'Suven' specialized in recruiting manpower for Banks, Financial Services, Real Estate and Allied Sectors, Manufacturing, Automobiles, Media and Internet/Dot-com domains.

We have placed candidates from Junior Level up to Senior (Head) levels from the time of our inception.

With our Head office at Chembur , we have grown to 5 training centers across Mumbai , providing Technology and soft skill training for fresh graduates across Maharashtra and placing them appropriately with IT and Non-IT companies.</p>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
      
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo">
      <img  align="right" style="width: 105%;" src="" th:src="@{/img/scm.jpg}" alt=""/>
      </span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey vision d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim">
      <img  align="left" style="width: 105%;" src="" th:src="@{/img/scm2.png}" alt=""/>
      </span>
    </div>
	
	
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h6><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6><br>
      <p><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
	
	
	
	
	
	
	</section>
</body>
</html>